body {
  margin: 8% 10% 0 10%;
  font-size: 12pt;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.wrapper {
  position: relative;
}
.box {
  background-color: gray;
  float: left;
  padding: 35px 2% 2% 2%;
  box-sizing: border-box;
  border: 2px solid black;
  position: relative;
  text-align: left;
}

h3 {
  border: 2px solid black;
  position: absolute;
  top: -21px;
  right: -2px;
  width: 90px;
  height: 28px;
  padding: 5px 15px 5px 15px;
  text-align: center;
}
.chicken h3 {
  background-color: darksalmon;
}
.beef h3 {
  background-color: firebrick;
  color: white;
}
.sushi h3 {
  background-color: burlywood;
}
/*desktop*/
@media (min-width: 992px) {
  .box.chicken {
    width: 30%;
    margin: 0 5% 0 0;
  }
  .box.beef {
    width: 30%;
    margin: 0 5% 0 0;
  }
  .box.sushi {
    width: 30%;
  }
}
/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .box.chicken {
    width: 47%;
    margin: 0 6% 6% 0;
  }
  .box.beef {
    width: 47%;
    margin: 0 0 6% 0;
  }
  .box.sushi {
    width: 100%;
  }
}
/*phone*/
@media (max-width: 767px) {
  .box {
    width: 100%;
    margin: 0 0 6% 0;
  }
}
