* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ingra;
}   
body {
  margin: 0 75px; /* Set side margins to 40px */
}
/* Apply styles to the navigation bar */
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    width: 100%;
    padding: 0 20px; /* Adjust padding as needed */
    height: 100px; /* Set the height of the navigation bar */
    background-color: #FFFFFF; /* Change the background color as desired */
    
  }
  
  
  /* Styles for the logo */
  .logo {
    
    width: 60px; /* Width of the logo */
    height: 60px; /* Height of the logo */
  }
  
  /* Styles for the links container */
  .links {
    align-items: center; /* Align items vertically */
    display: flex;
  }
  
  /* Styles for the links */
  .links a {
    text-decoration: none;
    color: #494646; /* Default link color */
    width: 170px; /* Width of each link box */
    text-align: center;
    margin-right: 40px; /* Space between links */
    transition: font-weight 0.3s ease; /* Smooth transition for font-weight */
  }
  
  /* Styles for the active link */
  .links a.active {
    font-weight: bold; /* Bold font for active link */
  }
  
  /* Styles for the login button */
  .links .button {
    border: none;
    background-color: #23864F; /* Button color */
    color: #F4FFF8; /* Button text color */
    padding: 8px 16px;
    font-weight: bold; /* Bold font for button text */
    cursor: pointer;
    border-radius: 20px; /* Rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Remove button default styles */
  .links button a {
    text-decoration: none;
    color: inherit;
  }
  


  .carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-track {
    display: flex;
    animation: carouselAnimation 30s linear infinite; /* Adjust animation duration as needed */
  }
  
  .carousel-item {
    min-width: 150px;
    flex: 0 0 auto;
    margin: 0 10px;
  }
  
  .carousel img {
    max-width: 200px;
    max-height: 100px;
    height: auto;
  }
  
  @keyframes carouselAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 13)); /* Adjust the value according to the number of items */
    }
  }
  